<table class="table table-condensed">
  <thead>
    <tr>
      <th colspan="2">Astro</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Sunrise:</td>
      <td>{{convertTimeBasedOnTimezone(weatherData.details.sys.sunrise * 1000) | date:'medium'}}</td>
    </tr>
    <tr>
      <td>Sunset:</td>
      <td>{{convertTimeBasedOnTimezone(weatherData.details.sys.sunset * 1000) | date:'medium'}}</td>
    </tr>
  </tbody>
</table>
